<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <em th:replace="_shared/style :: style"></em>
  <title>Editando revisão</title>
</head>

<body>
  <nav th:replace="_shared/menu :: menu"></nav>


  <div class="album py-5 bg-light">
    <div class="container">



      <form th:action="@{editar-revisao.html}" method="post" th:object="${revisao}">
        <input type="hidden" class="form-control" th:field="*{id}">
        <div class="form-group">

          <label>Nota: <input disabled type="number" class="form-control" th:field="*{nota}"></label>

        </div>
        <div class="form-group">
            <label>Descrição: <input disabled type="text" class="form-control" th:field="*{descricao}"></label>
        </div>
        <div class="form-group">
            <label>Trabalho: <input disabled type="text" class="form-control" th:value="${tituloTrabalho}"></label>
        </div>
       
      <select class="form-control" id="statusEnum" name="statusEnum" >
        <option th:each="stat : ${statusEnum}"
                th:value="${stat.getValor()}"
                th:text="${stat}">Part name</option>
      </select>

        
        <div class="form-group">
            <input class="btn btn-primary my-2" type="submit" value = "Salvar"/>
            <input  class="btn btn-primary my-2" type="reset" value = "Limpar"/>
        </div>
    </form>
    

</div>
</div>


<div th:replace="_shared/scripts :: scripts"></div>
</body>



</html>