<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <em th:replace="_shared/style :: style"></em>

  <title >Home</title>
</head>

<body>
  <nav th:replace="_shared/menu :: menu"></nav>

  <body>



    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Sistema de Revisão</h1>
          <p class="lead text-muted">Seja bem-vindo ao sistema de revisão de trabalhos, essa trabalho foi desenvolvido
            para disciplina de Laboratório Web II, ministrada pelo professor Igor Knop, desenvolvido pelos alunos Cássio
            Reis e Jônatas André.</p>
        </div>
      </section>




    </main>





    <div th:replace="_shared/scripts :: scripts"></div>
  </body>

</html>