<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <em th:replace="_shared/style :: style"></em>
  <title>Atividade: Nova</title>
</head>



<body>
  <nav th:replace="_shared/menu :: menu"></nav>



  <div class="album py-5 bg-light">
    <div class="container">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Email</th>
            <th>Inserir Categoria</th>

          </tr>
        </thead>
        <tbody>
          <tr th:each="avaliador: ${avaliadores}" th:object="${avaliador}">
            <td th:text="*{id}"></td>
            <td th:text="*{nome}"></td>
            <td th:text="*{email}"></td>
            <td><a th:href="@{'/../avaliador/inserir-categoria-cadastro?id=' + ${avaliador.id}}">
                <i class="fa fa-plus" aria-hidden="true"> Inserir Categoria</i>
              </a></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div th:replace="_shared/scripts :: scripts"></div>
</body>


</html>