<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <em th:replace="_shared/style :: style"></em>
  <title>Listar trabalhos</title>
</head>



<body>
  <nav th:replace="_shared/menu :: menu"></nav>



  <div class="album py-5 bg-light">
    <div class="container">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Url</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="trabalho: ${trabalhos}" th:object="${trabalho}">
            <td th:text="*{id}"></td>
            <td th:text="*{titulo}"></td>
            <td th:text="*{descricao}"></td>
            <td th:text="*{url}"></td>

            <td><a th:href="@{/trabalhos/editar(id=${trabalho.id})}">
                <i class="fa fa-pencil" aria-hidden="true"> Editar</i>
              </a></td>
            <td><a th:href="@{/trabalhos/deletar(id=${trabalho.id})}">
                <i class="fa fa-trash" aria-hidden="true">Excluir</i>
              </a></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div th:replace="_shared/scripts :: scripts"></div>
</body>


</html>